*{
  box-sizing: border-box;
}
.table{
  height:200px;
  width:60%;
  border:1px solid black;
}
.row{
  width:100%;
  height:100px;
  border:0.5 solid black;
  float:left;
}
.item{
  width:33.333333%;
  height:100px;
  border:0.2px solid black;
  float:left;
}
.black{
  background: black;
  color: white;
}
.red{
  background: red;
  color: white;
}
div{
  width: 20%;
  height: 100px;
}
#wins, #loses{
  width: 20%;
  height: 100px;
}
