<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <form class="" action="/items" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name">
    <input type="text" id="bank">
    <div class="">
      <span id='wins' name="wins"></span>
      <span id='loses' name="loses"></span>

    </div>
  </form>

  <select id="select">
        <option value="R1">Red One</option>
        <option value="B2">Black Two</option>
        <option value="R3">Red Three</option>
        <option value="B4">Black Four</option>
        <option value="R5">Red Five</option>
        <option value="B6">Black Six</option>
      </select>

  <button type="button" id="five" name="button">$5</button>
  <button type="button" id="fifteen" name="button">$15</button>
  <button type="button" id="twenty" name="button">$20</button>

  <section class="table">
    <section class="top row">
      <section class="item one black">
        <span>1</span>
      </section>
      <section class="item two red">
        <span>2</span>
      </section>
      <section class="item three black">
        <span>3</span>
      </section>
    </section>

    <section class="bottom row red">
      <section class="item four">
        <span>4</span>
      </section>
      <section class="item five black">
        <span>5</span>
      </section>
      <section class="item six red">
        <span>6</span>
      </section>
    </section>
  </section>



  <script src="main.js"></script>
</body>

</html>